# Environment variables
.env
.env.*

# Service account files
serviceAccount.json
serviceAccountKey.json
**/firebase-admin-*.json

# Dependencies
node_modules/

# Logs
*.log

# Local development
.DS_Store
.vercel
